header {
  display: flex;
  align-items: center;
  background-color: #394b73;
  color: white;
}

header h1 {
  padding: 1rem;
  margin-left: 2rem;
  font-size: 3rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  padding-top: 5rem;
  margin-left: 40rem;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 2.5rem;
}

h2 {
  flex: 0 0 20%;
  align-self: flex-start;
  font-size: 2.4rem;
  text-align: right;
  border-right: 0.3rem solid #394b73;
  padding-right: 2rem;
}

.banner img {
  display: block;
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

.content {
  flex: 1;
  margin-left: 4rem;
}

.content-section {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

/* Flexbox for Work section of page */
.work-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-image img {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.small-images {
  display: flex;
  flex-wrap: wrap;
}

.small-image {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 1rem;
}

.small-image img {
  width: 100%;
}

